@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,600');
/* set some css variables to reuse colors */

:root {
  --aquamarine: aquamarine;
  --black: #272727;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 10px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(122, 59, 59, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 50px;
}