@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,600');

* {
  box-sizing: border-box
}

body {
  background: #dfdfdf;
  font-family: 'Fira Sans', sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.content {
  width: 80%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;

}

.examples {
  background: rgba(255,255,255, 0.65);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  height: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%
}